<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Reportar un problema</h1>
        </div>
    </div>
    
    <!--<pagina-widget [pagina]="model.pagina" [numPaginas]="model.numPaginas" [rows]="model.rows" (chgEvent)="muevePagina($event)"></pagina-widget>-->
</div>
<!--<detallematerialeslistado-widget></detallematerialeslistado-widget>
<cargaracuseentrega-widget (ansEvent)="openConfirmacion($event)" (entregado)="entregado($event)"></cargaracuseentrega-widget>
<elimina-widget [titulo]="" [mensaje]="" (ansEvent)="returnConfirmacion($event)"></elimina-widget>-->

