<meta charset="UTF-8">
<div class="modal fade modal-xl" id="modalSupervision" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <meta charset="UTF-8">
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="row col-12 align-items-center ">
                    <div class="col-md-4 col-sm-10 col-12 text-start">
                        <h4 class="modal-title">Supervisiones</h4>
                    </div>
                    <div class="col-md-4 col-sm-10 col-12 text-end">
                    </div>
                    <div class="col-md-2 col-6 ">
                        <div class="form-floating">
                            <input type="number" class="form-control custom-input" [(ngModel)]="param.anio"id="anioSup" disabled>
                            <label for="anioSup">Año</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-6 ">
                        <div class="form-floating">
                            <select class="form-select custom-input" [(ngModel)]="param.mes" id="mesSup" disabled>
                                <option *ngFor="let m of mesesc" [ngValue]="m.id">{{ m.descripcion }}</option>
                            </select>
                            <label for="mesSup">Mes</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div *ngIf="isLoading || (model.supervisiones && model.supervisiones.length === 0)" class="row-12 text-center">
                    <h6 *ngIf="isLoading">Cargando...</h6>
                    <h6 *ngIf="!isLoading && model.supervisiones && model.supervisiones.length === 0">No se encontraron registros</h6>
                </div>
                <div *ngIf="isLoading" class="text-center ">
                    <i class="fas fa-spinner fa-spin fa-3x"></i>
                </div>
                <div *ngIf="model.supervisiones && model.supervisiones.length > 0" class="fade-in-container box-shadow" style="max-height: 350px; border-radius: 10px; overflow-y:auto; overflow-x:hidden;">
                    <table class="table table-borderless table-striped table-responsive">
                        <thead class="sticky-top">
                            <tr class="text-start sticky-top d-md-none align-items-center">
                                <th>Supervisiones</th>
                                <!--<th></th>-->
                            </tr>
                            <tr>
                                <td>
                                    <div class="row align-items-center" style="font-weight: bold;">
                                        <div class="col-md-1 col-sm-6 col-6">
                                            <span class="text-white d-none d-md-block text-center">Id</span>
                                        </div>
                                        <div class="col-md-1 col-sm-6 col-6">
                                            <span class="text-white d-none d-md-block text-center">Fecha</span>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="text-white d-none d-md-block">Punto de atención</span>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="text-white d-none d-md-block">Supervisor</span>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="text-white d-none d-md-block">Entrevista cliente</span>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="text-white d-none d-md-block">Nombre</span>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="text-white d-none d-md-block">Calif. General</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of model.supervisiones">
                                <td>
                                    <div class="row">
                                        <div class="col-md-1 col-sm-6 col-2 text-center">
                                            <span class="badge d-md-none">Id:</span>
                                            <div>{{ s.idSupervision }}</div>
                                        </div>
                                        <div class="col-md-1 col-sm-6 col-4 text-center">
                                            <span class="badge d-md-none">Fecha:</span>
                                            <div>{{ s.fecha | date: 'dd/MM/yyyy' }}</div>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="badge d-md-none">Punto de atención:</span>
                                            <div>{{ s.inmueble }}</div>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="badge d-md-none">Supervisor:</span>
                                            <div>{{ s.usuario }}</div>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="badge d-md-none">Entrevista cliente:</span>
                                            <div>{{ s.entrevista }}</div>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="badge d-md-none">Nombre:</span>
                                            <div>{{ s.clienteNombre }}</div>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-6">
                                            <span class="badge d-md-none">Calif. General:</span>
                                            <div>{{ s.calificacion }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="model.supervisiones && model.supervisiones.length > 0">
                    <br />
                    <pagina-widget [pagina]="model.pagina" [numPaginas]="model.numPaginas" [rows]="model.rows" (chgEvent)="muevePagina($event)"></pagina-widget>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="row"></div>
                <button type="button" (click)="close()" class="btn btn-outline-secondary"> Regresar</button>
            </div>
        </div>
    </div>
</div>
