<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Tickets</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-6 mb-3">
            <div class="form-floating">
                <select class="form-select" aria-label="Prioridad" [(ngModel)]="prioridadsl" (change)="obtenerTickets(1)" id="idPrioridad">
                    <option value="0">Seleccione...</option>
                    <option *ngFor="let p of prioridad" [ngValue]="p.id">{{ p.descripcion }}</option>
                </select>
                <label for="idPrioridad">Prioridad</label>
            </div>
        </div>
        <div class="col-md-3 col-6 mb-3">
            <div class="form-floating">
                <select class="form-select" aria-label="Categoria" [(ngModel)]="categoriasl" (change)="obtenerTickets(1)" id="idCategoria">
                    <option value="0">Seleccione...</option>
                    <option *ngFor="let c of categoria" [ngValue]="c.id">{{ c.descripcion }}</option>
                </select>
                <label for="idCategoria">Categoria</label>
            </div>
        </div>
        <div class="col-md-2 col-6 mb-3">
            <div class="form-floating">
                <select class="form-select" aria-label="Estatus" [(ngModel)]="statussl" (change)="obtenerTickets(1)" id="idStatus">
                    <option value="0">Seleccione...</option>
                    <option *ngFor="let s of status" [ngValue]="s.id">{{ s.descripcion }}</option>
                </select>
                <label for="idStatus">Estatus</label>
            </div>
        </div>

        <div class="col-md-5 mb-3 col-6 text-end">
            <a class="btn btn-outline-primary" (click)="generaTicketWidget()"><i class="fa-solid fa-plus"></i>  Nuevo ticket</a>
        </div>
    </div>
    <div *ngIf="isLoading || (model.tickets && model.tickets.length === 0)" class="row-12 text-center">
        <br/>
        <h6 *ngIf="isLoading">Cargando...</h6>
        <h6 *ngIf="!isLoading && model.tickets && model.tickets.length === 0">No se encontraron registros</h6>
    </div>
    <div *ngIf="isLoading" class="text-center ">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
    </div>
    <div *ngIf="model.tickets && model.tickets.length > 0" class="fade-in-container" style="border-radius: 10px; overflow-x: hidden;">
        <div style="max-height: 450px; overflow-y: auto; overflow-x: hidden;">
            <div class="row">
                <table class="table table-borderless table-striped table-responsive">
                    <thead class="sticky-top">
                        <tr class=" d-md-none">
                            <th class="text-center">Listados</th>
                            <th>Cerrar</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="row" style="font-weight: bold;">
                                    <div class="col-md-1 col-sm-2 col-2">
                                        <span class="text-white d-none d-md-block text-center">Id</span>
                                    </div>
                                    <div class="col-md-3 col-sm-2 col-8">
                                        <span class="text-white d-none d-md-block">Categoria</span>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-8">
                                        <span class="text-white d-none d-md-block">Prioridad</span>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-2">
                                        <span class="text-white d-none d-md-block">Estatus</span>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="text-white d-none d-md-block">F.Alta</span>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-3">
                                        <span class="text-white d-none d-md-block">Descripcion</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="col-md-12 col-sm-12 col-12 text-center">
                                        <span class="text-white d-none d-md-block">Cerrar</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of model.tickets">
                            <td>
                                <div class="row text-start">
                                    <div class="col-md-1 col-sm-6 col-2 text-center">
                                        <span class="badge d-md-none ">Id:</span>
                                        <div class=" ms-2 ">{{ t.idClienteTicket }}</div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-4">
                                        <span class="badge d-md-none">Categoria:</span>
                                        <div class="ms-2">{{ t.categoria }}</div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-3">
                                        <span class="badge d-md-none">Prioridad:</span>
                                        <div class="ms-2">{{ t.prioridad }}</div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-3">
                                        <span class="badge d-md-none">Estatus:</span>
                                        <div class="ms-2">{{ t.status }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-4">
                                        <span class="badge d-md-none">F.Alta:</span>
                                        <div class="ms-2">{{ t.fechaAlta | date: 'dd-MM-yyyy' }}</div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-8">
                                        <span class="badge d-md-none">Descripción:</span>
                                        <div class="ms-2" style="font-size: smaller;">{{ t.descripcion }}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div>
                                    <div class="col-12 col-md-12 col-sm-12">
                                        <button type="button" class="btn btn-lg text-primary position-relative"
                                                (click)="valida(t.idClienteTicket)"
                                                data-bs-toggle="tooltip" title="Cerrar ticket"
                                                [disabled]="t.status === 'Cerrado'">
                                            <ng-container *ngIf="t.status === 'Cerrado'; else openTicketIcon">
                                                <i class="fa-solid fa-check" style="color: seagreen" [ngClass]="{'text-muted': t.status === 'Cerrado'}"></i>
                                            </ng-container>
                                            <ng-template #openTicketIcon>
                                                <i class="fa-solid fa-clipboard-check" [ngClass]="{'text-muted': t.status === 'Cerrado'}"></i>
                                            </ng-template>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div *ngIf="model.tickets && model.tickets.length > 0">
        <pagina-widget [pagina]="model.pagina" [numPaginas]="model.numPaginas" [rows]="model.rows" (chgEvent)="muevePagina($event)"></pagina-widget>
    </div>
</div>
<generaticket-widget (ansEvent)="obtenerTickets($event)"></generaticket-widget>
<confirma-widget (confirmaEvent) ="cerrarTicket($event)"></confirma-widget>