<meta charset="UTF-8">
<div class="modal fade modal-lg" id="modalGeneraTicket" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <meta charset="UTF-8">
            <!-- Modal Header -->
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">Generar ticket</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form  [formGroup]="miFormulario">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-12 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="nombre" formControlName="nombref" autocomplete="on">
                                <label for="nombre">nombre</label>
                            </div>
                            <div *ngIf="miFormulario.get('nombref').invalid && miFormulario.get('nombref').touched" class="text-danger">
                                <div *ngIf="miFormulario.get('nombref').errors.required">El nombre es requerido.</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-12 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="email" formControlName="emailf" autocomplete="on">
                                <label for="email">email</label>
                            </div>
                            <div *ngIf="miFormulario.get('emailf').invalid && miFormulario.get('emailf').touched" class="text-danger">
                                <div *ngIf="miFormulario.get('emailf').errors.required">El correo electrónico es requerido.</div>
                                <div *ngIf="miFormulario.get('emailf').errors.email">El correo electrónico no es válido.</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-6 mb-3">
                            <div class="form-floating">
                                <select class="form-select" aria-label="Prioridad" formControlName="prioridadf" id="idPrioridad">
                                    <option *ngFor="let p of prioridad" [ngValue]="p.id">{{ p.descripcion }}</option>
                                </select>
                                <label for="idPrioridad">Prioridad</label>
                            </div>
                            <div *ngIf="miFormulario.get('prioridadf').invalid && miFormulario.get('prioridadf').touched" class="text-danger">
                                <div *ngIf="miFormulario.get('prioridadf').errors.required">La prioridad es requerida.</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 mb-3">
                            <div class="form-floating">
                                <select class="form-select" aria-label="Categoria" formControlName="categoriaf" id="idCategoria">
                                    <option *ngFor="let c of categoria" [ngValue]="c.id">{{ c.descripcion }}</option>
                                </select>
                                <label for="idCategoria">Categoria</label>
                            </div>
                            <div *ngIf="miFormulario.get('categoriaf').invalid && miFormulario.get('categoriaf').touched" class="text-danger">
                                <div *ngIf="miFormulario.get('categoriaf').errors.required">La categoria es requerida.</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-12 mb-3">
                            <div class="form-floating">
                                <textarea class="form-control custom-textarea" id="idDescripcion" rows="3" formControlName="descripcionf" autocomplete="on"></textarea>
                                <label for="idDescripcion">Descripcion</label>
                            </div>
                            <div *ngIf="miFormulario.get('descripcionf').invalid && miFormulario.get('descripcionf').touched" class="text-danger">
                                <div *ngIf="miFormulario.get('descripcionf').errors.required">La descripción es requerida.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="row"></div>
                <button type="button" (click)="guardarTicket()" class="btn btn-outline-success"><i class="fa-solid fa-save"></i> Generar</button>
                <button type="button" (click)="close()" class="btn btn-outline-secondary"> Cancelar</button>
            </div>
        </div>
    </div>
</div>
