<meta charset="UTF-8">
<div class="modal fade modal-xl" id="modalEvaluacion" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <meta charset="UTF-8">
            <!-- Modal Header -->
            <div class="modal-header">

                <div class="row col-12 align-items-center ">
                    <div class="col-md-4 col-sm-10 col-12 text-start">
                        <h4 class="modal-title">Encuestas de calidad</h4>
                    </div>
                    <div class="col-md-2 col-sm-10 col-12 text-end">
                    </div>
                    <div class="col-md-3 col-6 ">
                        <div class="form-floating shadow-sm">
                            <input type="number" class="form-control" [(ngModel)]="param.anio" (change)="obtenerEvaluaciones(1)" [disabled]="isLoading" id="anio">
                            <label for="anio">Año</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 ">
                        <div class="form-floating shadow-sm">
                            <select class="form-select" [(ngModel)]="param.mes" (change)="obtenerEvaluaciones(1)" [disabled]="isLoading" id="mes">
                                <option *ngFor="let m of mesesc" [ngValue]="m.id">{{ m.descripcion }}</option>
                            </select>
                            <label for="mes">Mes</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">

                <div *ngIf="isLoading || (model.evaluaciones && model.evaluaciones.length === 0)" class="row-12 text-center">
                    <h6 *ngIf="isLoading">Cargando...</h6>
                    <h6 *ngIf="!isLoading && model.evaluaciones && model.evaluaciones.length === 0">No se encontraron registros</h6>
                </div>
                <div *ngIf="isLoading" class="text-center ">
                    <i class="fas fa-spinner fa-spin fa-3x" style="color: #0d6efd"></i>
                </div>
                <div *ngIf="model.evaluaciones && model.evaluaciones.length > 0" class="fade-in-container" style="max-height: 350px; border-radius: 10px; overflow-y:auto; overflow-x:hidden;">
                    <table class="table table-borderless table-striped table-responsive">
                        <thead class="sticky-top">
                            <tr class="text-start sticky-top">
                                <th>Evaluaciones</th>
                                <!--<th></th>-->
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let e of model.evaluaciones">
                                <td>
                                    <div class="row mb-2 mt-2">
                                        <div class="col-md-1 col-sm-6 col-6">
                                            <span class="badge">Id:</span>
                                            <div class=" ms-2">{{ e.idCampania }}</div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-6">
                                            <span class="badge">Punto de atención:</span>
                                            <div class=" ms-2">{{ e.inmueble }}</div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-6">
                                            <span class="badge">Encuesta:</span>
                                            <div class="ms-2">{{ e.encuesta }}</div>
                                        </div>
                                        <div class="col-md-1 col-sm-6 col-6">
                                            <span class="badge">F. Alta:</span>
                                            <div class="ms-2">{{ e.fecha }}</div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-6">
                                            <span class="badge">Persona encuestada:</span>
                                            <div class="ms-2">{{ e.encuestado }}</div>
                                        </div>
                                        <div class="col-md-1 col-sm-2 col-3">
                                            <span class="badge">Personal:</span>
                                            <div class="ms-2">{{ e.resultado1 }}</div>
                                        </div>
                                        <div class="col-md-1 col-sm-2 col-3">
                                            <span class="badge">Operaciones:</span>
                                            <div class="ms-2">{{ e.resultado2 }}</div>
                                        </div>
                                        <div class="col-md-1 col-sm-2 col-3">
                                            <span class="badge">CGO:</span>
                                            <div class="ms-2">{{ e.resultado3 }}</div>
                                        </div>
                                        <div class="col-md-1 col-sm-2 col-3">
                                            <span class="badge">Materiales:</span>
                                            <div class="ms-2">{{ e.resultado4 }}</div>
                                        </div>
                                        <div class="col-md-1 col-sm-2 col-3">
                                            <span class="badge">Miscelaneos:</span>
                                            <div class="ms-2">{{ e.resultado5 }}</div>
                                        </div>
                                    </div>
                                </td>
                                <!--<td class="text-center">
                        <div>

                            <div class="col-12 col-md-12 col-sm-12">
                                <button type="button" class="btn btn-lg text-primary" (click)="obtenerMateriales(listado.idListado, listado.nombreSucursal, listado.tipo, listado.prefijo)" data-bs-toggle="tooltip" title="Ver lista">
                                    <i class="fa-solid fa-list" style="color: darkslategray;"></i>
                                </button>
                                <button type="button" class="btn btn-lg text-secondary"
                                        (click)="verAcuses(listado.idListado, listado.nombreSucursal, listado.tipo, listado.prefijo)"
                                        data-bs-toggle="tooltip" title="Acuse"
                                        [disabled]="listado.estatus === 'Entregado'">
                                    <i class="fa-solid fa-file-circle-check" style="color: #0d6efd;"></i>
                                </button>
                            </div>
                        </div>
                    </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div *ngIf="model.evaluaciones && model.evaluaciones.length > 0">
                    <br />
                    <pagina-widget [pagina]="model.pagina" [numPaginas]="model.numPaginas" [rows]="model.rows" (chgEvent)="muevePagina($event)"></pagina-widget>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="row"></div>
                <button type="button" (click)="close()" class="btn btn-outline-secondary"> Regresar</button>
            </div>
        </div>
    </div>
</div>
